<!-- <section>
<mat-toolbar color="primary" fxLayoutGap="50px" fxLayout="column" fxLayoutAlign="center center">
      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title fxLayoutAlign="center center">聯絡我們</mat-card-title>
        <mat-card-content  fxLayout="column" fxLayoutAlign="center center">
          <mat-form-field>
            <input matInput  placeholder="姓名">
          </mat-form-field>
          <mat-form-field>
            <input matInput  placeholder="信箱">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="訊息" style="min-height: 10vh;max-height:20vh;"></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
          <button color="warn" mat-raised-button>送出</button>
        </mat-card-actions>
      </mat-card>

      <div class="pincel1">
        <div class="pincelhead">
          <div class="pincelheadbelow">
            <div class="pincelheader"></div>
          </div>
          <div class="pincelheadtop">
            <div class="pincelheader"></div>
          </div>
          <div class="pincelheadbody">
          </div>
        </div>
          <div class="pinceltop"></div>
          <div class="pincelbelow"></div>
          <div class="pincelbody"></div>
          <div class="pincelbottom">
            <div class="pincelclean"></div>
          </div>
      </div>
      <div class="pincel2">
        <div class="pincelhead">
          <div class="pincelheadbelow">
            <div class="pincelheader"></div>
          </div>
          <div class="pincelheadtop">
            <div class="pincelheader"></div>
          </div>
          <div class="pincelheadbody">
          </div>
        </div>
          <div class="pinceltop"></div>
          <div class="pincelbelow"></div>
          <div class="pincelbody"></div>
          <div class="pincelbottom">
            <div class="pincelclean"></div>
          </div>
      </div>
      <div class="pincel3">
        <div class="pincelhead">
          <div class="pincelheadbelow">
            <div class="pincelheader"></div>
          </div>
          <div class="pincelheadtop">
            <div class="pincelheader"></div>
          </div>
          <div class="pincelheadbody">
          </div>
        </div>
          <div class="pinceltop"></div>
          <div class="pincelbelow"></div>
          <div class="pincelbody"></div>
          <div class="pincelbottom">
            <div class="pincelclean"></div>
          </div>
      </div>
  </mat-toolbar>
</section> -->
