<mat-card>
        <mat-card-header>
            <mat-card-title>圖表</mat-card-title>
            <mat-card-subtitle>統計數據</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content  class="clock">
            <app-chart></app-chart>
        </mat-card-content>
    </mat-card>
    <mat-card class="right-list">
        <mat-card-header>
            <mat-card-title fxLayoutAlign="center center">簡單介紹</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h5>這是一個用firestore、angular、Material-ui、quill所製作的部落格</h5>
        </mat-card-content>
</mat-card>
