mat-card {
  mat-label {
    font-size: 0.2rem;
  }
  input {
    font-size: 0.2rem;
  }
  h1 {
    font-size: 0.2rem;
  }
  mat-chip {
    cursor: pointer;
  }
}
.tags {
  margin-top: 0.3rem;
}
@media screen and (max-width: 959px) {
  mat-card {
    margin-top: 0.3rem;
  }
}
