$color-box-3: #57ccfd;

$color-box-6: #9b1308;

section {
  margin: 0 0.5rem;
  .cards--three {
    overflow: hidden;
    position: relative;
    z-index: 1;

    &:hover {
      .cards--three__rect-1 {
        left: 5%;

        .shadow-1 {
          left: -20%;
        }
      }

      .cards--three__rect-2 {
        left: 20%;

        &:before {
          left: -100%;
        }

        &:after {
          left: 133%;
        }

        .shadow-2 {
          left: -10%;
        }
      }

      .cards--three__circle {
        transform: scale(1);

        &:before {
          transform: scale(0.9);
        }
      }
    }

    &__rect-1 {
      background: #fff;
      width: 2rem;
      height: 1.1rem;
      transform: skewX(-20deg);
      display: block;
      position: absolute;
      top: 73%;
      opacity: 0.9;
      left: -100%;
      z-index: 8;
      transition: all 0.5s ease-in;

      p {
        font-size: 0.2rem;
        color: #fff;
        transform: skewX(20deg);
        line-height: 1rem;
      }

      .shadow-1 {
        background: $color-box-6;
        width: 2.3rem;
        height: 1rem;
        display: block;
        position: absolute;
        left: -200%;
        z-index: -1;
        transition: all 0.3s ease-in;
      }
    }

    &__rect-2 {
      width: 1rem;
      height: 0.7rem;
      background: #fff;
      position: absolute;
      top: 65%;
      left: 1000%;
      opacity: 0.9;
      transform: skewX(-20deg);
      z-index: 8;
      transition: all 0.5s ease-in;

      &::before {
        content: "";
        display: block;
        width: 0.5rem;
        height: 0.4rem;
        background: $color-box-3;
        opacity: 1;
        position: absolute;
        left: 500%;
        top: 10%;
        transition: all 0.3s ease-in;
      }

      &::after {
        content: "";
        display: block;
        width: 0.5rem;
        height: 0.4rem;
        background: $color-box-6;
        opacity: 1;
        position: absolute;
        left: 500%;
        top: 114%;
        transition: all 0.5s ease-in;
        transition-delay: 0.2s;
      }

      .shadow-2 {
        background: $color-box-3;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: -10%;
        left: 500%;
        transition: all 0.5s ease-in;
        transition-delay: 0.2s;
      }
    }

    &__circle {
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: -15%;
      left: 80%;
      opacity: 0.9;
      transform: scale(0);
      transition: all 0.3s ease;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: $color-box-6;
        border-radius: 50%;
        transform: scale(0);
        transition: all 0.3s ease;
        transition-delay: 0.2s;
      }
    }

    &__list {
      list-style: none;
      position: absolute;
      top: -0.09rem;
      right: 0.07rem;
      padding-top: 0.6rem;
      transition: all 0.4s ease;
    }
  }
  .main {
    position: relative;
    height: 4rem;
    margin-bottom: 0.2rem;
    button {
      position: absolute;
      bottom: 10%;
      right: 5%;
    }
  }

  .top {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 0.2rem;
    text-align: center;
    border-radius: 0.05rem;
    outline: none;
  }
  mat-card-title {
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
  }

  mat-paginator {
    margin: 0;
  }
}
@media screen and (max-width: 959px) {
  section {
    margin: 0 !important;
  }
}
