<section>
  <mat-card *ngFor="let post of post$">
      <mat-card-title>{{post.title}}</mat-card-title>
      <button color='primary' mat-icon-button><mat-icon>thumb_up</mat-icon></button>12
      <button color='warn' mat-icon-button><mat-icon>thumb_down</mat-icon></button>15
      <mat-card-content>
        <quill-view [content]='post.content' format='html' theme='bubble'></quill-view>
      </mat-card-content>
      <mat-card-actions>{{post.name}}
  {{titleheader|json}}</mat-card-actions>
      <mat-card-actions fxLayoutAlign="space-between center">
        <button mat-raised-button color="warn" [routerLink]="['/']">上一篇</button>
        <button mat-raised-button color="warn" [routerLink]="['/']">首頁</button>
        <button mat-raised-button color="warn" [routerLink]="['/']">下一篇</button>
      </mat-card-actions>
  </mat-card>
</section>
